Cartopy
flake8
ipympl
ipywidgets
jupyterlab
lxml
matplotlib
numpy
obspy
pandas
Pillow
pylint
pyyaml
recommonmark
scikit-learn
scipy
seaborn
setuptools
sklearn
Sphinx
sphinx-bootstrap-theme
SQLAlchemy
tensorflow-gpu
tqdm
yapf