Cartopy>=0.17.0
numpy>=1.18.1
obspy>=1.2.1
pandas>=1.0.1
Pillow>=7.0.0
PyYAML>=5.3
scikit-learn>=0.22.1
scipy>=1.4.1
seaborn>=0.10.0
sklearn>=0.0
Sphinx>=2.4.4
sphinx-bootstrap-theme==0.7.1
tqdm>=4.43.1
recommonmark>=0.6.0
