black
flake8
isort
kedro-mlflow
kedro-telemetry
kedro-viz
kedro
lxml
matplotlib
nbstripout
numpy
obspy
pandas
Pillow
pytest-cov
pytest-mock
pytest
pyyaml
scipy
seaborn
SQLAlchemy
sqlalchemy-utils
tqdm
h5py
h5glance
scikit-learn
kedro-airflow
